* {
    padding: 0;
    margin: 0; 
}

body {
    background-color: burlywood;
}

h1 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;  
}

h2 {
    border-style: solid;
    background-color: darkred;
    border-radius: 25px;
}

p {
    margin: 11px;
    font-size: 19px;
}

.box {
    background-color: rgb(158, 86, 27);
    border-radius: 15px;
    font-size: 21px;
    list-style-type: none;
    float: left;
    margin: 25px;
    padding: 11px;

} 

.index {
    text-align: center;
}

.clear {
    clear: both;
}

